.story_liner(ng-init="editMode = false; reportMode = false;")
  .votes(ng-if="!settings.storyHideScore", ng-class="{voted: storyJSON.voted}")
    .score {{ storyJSON.votes_count || 1 | prettynumber }}
    .voter
      a(ng-click="upvote()")

  .details
    span.link(ng-if="!editMode")
      span(ng-if="!storyJSON.is_gone")
        a(fn-route="/story/{{ storyJSON.slug }}/open"
          target="{{ openNewTab ? '_blank' : ''}}") {{ storyJSON.title }}
      span(ng-if="storyJSON.is_gone").
        [Story removed by {{ storyJSON.is_moderated ? "moderator" : "original submitter" }}]

    .link.edittext(contenteditable="true", ng-if="editMode", ng-model="edit.title")


    span.cats(ng-if="!storyJSON.is_gone && !settings.storyHideCategories && !editMode")
      a(ng-repeat="cat in storyJSON.parsedCategories track by $index"
        fn-route="/category/{{ cat.slug }}")
        news-category(ng-model="cat")

    span.domain(ng-if="!settings.storyHideDomain && !editMode")
      a(fn-route="/search?domain={{ storyJSON.domain }}"
        target="{{ openNewTab ? '_blank' : ''}}") ({{ storyJSON.domain }})

    .meta(ng-if="!editMode")
      span.timestamp(ng-if="!settings.storyHideDate").
        {{ storyJSON.created_at | prettydate }} by
        <a class="author" fn-route="/user/{{ storyJSON.created_by_uname }}">{{ storyJSON.created_by_uname }}</a>

      span.comments_label(ng-if="storyJSON.comments_count == 0 && !settings.storyHideComments")
        a(fn-route="/story/{{ storyJSON.slug }}") discuss

      span.comments_label(ng-if="storyJSON.comments_count != 0 && !settings.storyHideComments")
        a(fn-route="/story/{{ storyJSON.slug }}").
          {{ storyJSON.comments_count }} {{ storyJSON.comments_count == 1 ? "comment" : "comments" }}

      span(ng-if="allowEditing && userCanEdit")
        a(href="", ng-click="setEditMode(true)") edit

      span.report-link(ng-if="allowReporting")
        a(href="", ng-click="setReportMode(true)") report


  form.report-box.box(ng-if="reportMode"
    ng-init="data.report = {}"
    name="reportForm", ng-class="formClasses")

      .rtitle why are you reporting this?
      .option
        input(type="radio", name="reason", ng-model="data.report.type", required, value="spam")
        label spam
      .option
        input(type="radio", name="reason", ng-model="data.report.type", value="vote_m")
        label vote manipulation
      .option
        input(type="radio", name="reason", ng-model="data.report.type", value="pers_info")
        label personal information
      .option
        input(type="radio", name="reason", ng-model="data.report.type", value="offensive")
        label inappropriate/offensive
      .option
        input(type="radio", name="reason", ng-model="data.report.type", value="other")
        label other (max 100 characters):
      .option(ng-if="data.report.type == 'other'")
        input(type="text", required, ng-model="data.report.text",
          minlength="5"
          maxlength="100"
          placeholder="type your reason here..")

      .buttons
        span(ng-if="reportForm.$valid")
          google-recaptcha(ng-model="data.gcaptcha", ng-if="!data.gcaptcha")
          button(ng-click="submitReport()", ng-if="data.gcaptcha") Submit
        button(ng-click="setReportMode(false)") Cancel


  section(ng-if="showDescription")
    .description(ng-bind-html="storyJSON.description", ng-if="!editMode && storyJSON.description")
    textarea.description.edittext(ng-model="edit.description_markdown", ng-if="editMode")


  .comment-box.box(ng-if="!editMode && showCommentBox")
    form.row.collapse(name="form", ng-class="formClasses")
      .columns
        textarea.field.main-commentbox.show-if-loggedin(ng-model="data.comment"
          ng-disabled="formLoading"
          maxlength=3000
          placeholder="comment on this link."
          required)
        a.hide-if-loggedin(ng-click="redirectToLogin()", href="")
          textarea.field.main-commentbox(disabled
            placeholder="you need to be logged in to comment")

      .columns(ng-if="form.$valid")
        google-recaptcha(ng-model="data.gcaptcha", ng-if="!data.gcaptcha")
        button(ng-click="submitComment()", ng-if="data.gcaptcha") Submit


  .editButton
    button(ng-click="updateStory()", ng-if="editMode") Save
    button(ng-click="setEditMode(false)", ng-if="editMode") Cancel