form
  md-card
    md-card-content
      h1 Search posts and comments
      md-input-container
        label Your query
        input(ng-model="query.text" required type="text")
        .hint Type something here...

//- form.row
  .columns
    h2.title Search
  .columns
    p
      input(autofocus="autofocus"
        name="q"
        size="40"
        type="text"
        ng-model="query.q")
      button(ng-click="search()") Search
      //- input(type="submit")
  .columns
    span.title Include:
    span.options
      input(checked="checked"
        ng-model="query.what"
        id="what_all"
        type="radio"
        value="all")
      label All
      input(checked="checked"
        ng-model="query.what"
        type="radio"
        value="stories")
      label Stories
      input(checked="checked"
        ng-model="query.what"
        type="radio"
        value="comments")
      label Comments

  .columns
    span.title Order by:
    span.options
      input(checked="checked"
        ng-model="query.order"
        type="radio"
        value="rel")
      label Relevance
      input(checked="checked"
        ng-model="query.order"
        type="radio"
        value="newest")
      label Newest
      input(checked="checked"
        ng-model="query.order"
        type="radio"
        value="score")
      label Score

  .columns
    span.title Domain:
    span.options
      input(type="text"
        ng-model="query.domain"
        placeholder="abc.com")

  .columns
    span.title Username:
    span.options
      input(type="text"
        ng-model="query.username"
        placeholder="abc1992")

  //- .columns
    span.title Page:
    span.options
      input(type="number"
        ng-model="query.page"
        placeholder="1")

.searchResults(ng-if="results")
  .result(ng-repeat="hit in results.hits")
    .result-container(ng-if="hit._type == 'stories'")
      news-item(ng-model="hit._source")
    .result-container(ng-if="hit._type == 'comments'")
      news-comment(ng-model="hit._source", is-not-in-story="true")