.news-feed-item(ng-mouseenter="hover = true; onHover($event)"
  ng-mouseleave="hover = false; onLeave()"
  ng-class="{new: article.isNew, popular: article.popular}")
  
  a.line-title(ng-href="{{ article.$attributes.url }}"
    ng-style="{'border-color': borderColor}" 
    title=""
    ping="/api/news/articles/{{ article.id }}/click" 
    target="_blank") 
      .title(ng-ifs="!hover") {{ article.$attributes.title }}
      span.meta Read by {{ article.$attributes.clicks_count | prettynumber }} readers &middot; {{ article.$attributes.meta.time.text }}


  .excerpt(ng-style="excerptStyle")
    .img-container
      img(ng-src="{{ article.image_url_masked }}")
    .content
      .title {{ article.$attributes.title }}
      .description {{ article.$attributes.excerpt }}...
      .meta
        span.posted published {{ article.$attributes.published_at | prettydate }}