//- #main-header(class="{{ route }}")
  #grabber-container
    header-hamburger(ng-click="toggleHeader()")

.homelogo
  a(fn-route="/")
    img(src="/images/header.logo.png")
      
//- This is the Main header
nav#top-header(ng-class="{'show-menuheader': showMenuHeader}"
  ng-init="showSubMenu=false;")
  ul
    li(ng-repeat="link in links"
      class="{{ link.class }}"
      ng-mouseover="onMainLinkHover(link)"
      ng-class="{active: link.isActive}")
      a(fn-route="{{ link.url }}") {{ link.name | translate:'header'}}
    li.add-more
      span
        img(src="/images/plus.png")
    li.nav-right.settings
      a(fn-route="/settings")
        img(src="/images/header.settings.png")

//- The side header is shown whenever the page wants us to show sources bar
nav#side-header
  .sources(ng-if="feeds")
    //- a.source(ng-href="{{ feed.url }}", target="_blank"
    a.source(fn-route="/feed/{{ feed.slug }}"
      ng-repeat="feed in feeds", ng-style="{ 'background' : feed.color }")
      img(ng-src="/images/source/{{ feed.domain }}.png")

    span.source.plus-button(ng-click="showSourcesModal()")
      img(src="/images/plus.png")

span.nav-cover(ng-click="closeHeader()", ng-mouseover="onCoverHover()")