title #{title}

//- SEO language tags
//- link(rel="alternate", hreflang="ar", href="?_lang=ar")
//- link(rel="alternate", hreflang="en", href="?_lang=en")

link(rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png")
link(rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png")
link(rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png")
link(rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png")
link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png")
link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png")
link(rel="manifest" href="/images/favicon/manifest.json")
meta(name="msapplication-TileColor" content="#ffffff")
meta(name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png")
meta(name="theme-color" content="#ffffff")


base(href="/")

if environment != "production"
  style.
    body.initializing {
      overflow-y: hidden;
      background: #FFF; }
      body.initializing #page-loader {
        display: block; }

    body.initializing auth, body.initializing header, body.initializing main,
    body.initializing section[notifications], body.initializing modal {
      display: none;
    }

    #page-loader {
      position: absolute;
      background: #eee;
      bottom: 0;
      left: 0;
      z-index: 55;
      width: 100%; }
      #page-loader #page-loading-bar {
        transition: all 300ms ease-out;
        width: 0%;
        background: #c80900;
        height: 2px; }
else
  style.
    body,html{height:100%}body.initializing{overflow-y:hidden;background:#FFF}body.initializing #page-loader{display:block}body.initializing auth,body.initializing header,body.initializing main,body.initializing modal,body.initializing section[notifications]{display:none}#page-loader{position:absolute;background:#eee;bottom:0;left:0;z-index:55;width:100%}#page-loader #page-loading-bar{transition:all 300ms ease-out;width:0;background:#c80900;height:2px}

//- SEO description tag
if description
  meta(name="description", content=description)

if metaRobots
  meta(name="robots" content="#{metaRobots}")


//- SEO keywords tag
meta(name="keywords", content="startup news, startup, news, enterpreneur, india, indian news, indian startup news, ventures, crowd-funding")

//- Other Meta tags
meta(charset="utf-8")
link(href="#{settings.url}" rel="canonical")
meta(http-equiv="content-type", content="text/html; charset=UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1")