form(name="form", ng-class="formClasses", ng-init="page = 1")
  .row(ng-if="page == 1")
    .columns
      h3 Create your account
    .columns
      label Email
      input(maxlength="140"
        ng-model="signup.email"
        ng-focus="hideLogin=true"
        type="email"
        required="true"
        size=30
        ng-disabled="formLoading")

    .columns(ng-if="signup.email")
      label Username
      input(maxlength="140"
        minlength="4"
        ng-disabled="formLoading"
        ng-model="signup.username"
        required="true"
        size=30
        type="text")

    .columns(ng-if="usernameValid")
      label Password
      input(maxlength="140"
        minlength="4"
        ng-disabled="formLoading"
        ng-model="signup.password"
        required="true"
        size=30
        type="password")

    .other-options.columns(ng-if="form.$valid && signup.password").
      By creating an account, you agree that you have read our <a href="/info/terms-privacy">terms and services</a>

    .columns.captcha(ng-if="form.$valid && signup.password && !form.gcaptcha")
      div(google-recaptcha, ng-model="form.gcaptcha", ng-if="!form.gcaptcha")

    .columns(ng-if="form.gcaptcha")
      button.submit(ng-click="doSignup(signup)") Sign Up

    .other-options.columns.
      Already have an account? then <a ng-click="goLogin()">login!</a>


  #page-2.row(ng-if="page == 2")
    .columns
      h3 You have been registered

      b
        p.
          Yeah... We keep getting <a href="http://mailinator.com/" target="_blank">Mailinator</a> trolls so
          we're not going to trouble you with an activation email.
      p So go ahead, submit your first link <a fn-route="/submit">here</a>.
      p And welcome to the community : )

      //- h2
        | Your account now needs to be <b>activated</b>. To activate it, click on
        | the link in the email we just sent you.
      //- h2 Make sure to check your spam folder, just in case.