script
  :coffee-script
    md5 = window.publicData.md5
    u = window.publicData.staticUrl

    window.scripts = [
      {
        id: "libraries.css"
        remote: [
          "//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css"
          "//fonts.googleapis.com/css?family=Roboto:300,400,600,700,800"
          "//fonts.googleapis.com/icon?family=Material+Icons"
        ]
        local: [
          "/bower_components/angular-material/angular-material.css"
          "/bower_components/material-design-icons/iconfont/material-icons.css"
          "/bower_components/roboto-fontface/css/roboto-fontface.css"
        ]
      }
      {
        id: "style.css"
        remote: ["#{u}/build/md5/style_#{ md5['style.css'] }.css"]
        local: ["/build/md5/style_#{ md5['style.css'] }.css"]
      }
      {
        id: "libraries.js"
        remote: [
          "//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"
          "//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"
          "//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"
          "//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"
          "//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"
          "//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"

          "//cdnjs.cloudflare.com/ajax/libs/angular-hotkeys/1.4.5/hotkeys.min.js"
          "//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"
          "//cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.1/angular-material.min.js"

          "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"          
          "//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"
        ]
        local: [
          "/bower_components/angular/angular.js"
          "/bower_components/angular-animate/angular-animate.js"
          "/bower_components/angular-aria/angular-aria.js"
          "/bower_components/angular-cookies/angular-cookies.js"
          "/bower_components/angular-messages/angular-messages.js"
          "/bower_components/angular-resource/angular-resource.js"

          "/bower_components/angular-hotkeys/build/hotkeys.js"
          "/bower_components/angular-ui-router/release/angular-ui-router.js"
          "/bower_components/angular-material/angular-material.js"

          "/bower_components/underscore/underscore.js"
          "/bower_components/backbone/backbone.js"
        ]
      }
      {
        id: "templates.js"
        remote: ["#{u}/build/md5/templates_#{ md5['templates.js'] }.js"]
        local: ["/build/md5/templates_#{ md5['templates.js'] }.js"]
      }
      {
        id: "main.js"
        remote: ["#{u}/build/md5/main_#{ md5['main.js'] }.js"]
        local: ["/build/md5/main_#{ md5['main.js'] }.js"]
      }
    ]