.story_comment(id="comment_{{ commentJSON.slug }}"
  ng-init="collapse = false"
  ng-class="{ focus: commentJSON.focus }")
  .votes(ng-if="!settings.storyHideScore && !collapse", ng-class="{voted: commentJSON.voted}")
    .score {{ commentJSON.votes_count || 1 | prettynumber }}
    .voter
      a(ng-click="upvote()")

  .details(ng-if="!isNotInStory")
    a(ng-click="setCollapse(true)", ng-if="!collapse") [-]&nbsp;&nbsp;
    a(ng-click="setCollapse(false)", ng-if="collapse") [+]&nbsp;&nbsp;

    a.author(fn-route="/user/{{ commentJSON.created_by_uname }}") {{ commentJSON.created_by_uname }}
    | &nbsp;&nbsp;

    span posted {{ commentJSON.created_at | prettydate }}

    span(ng-if="!collapse")
      | &nbsp;&middot;&nbsp;
      a(fn-route="/story/{{ commentJSON.meta.storySlug }}?comment={{ commentJSON.slug }}") link
      | &nbsp;&middot;&nbsp;
      a.report(ng-click="toggleReportBox()", ng-if="!collapse") report
      | &nbsp;&middot;&nbsp;
      a(ng-click="toggleReplyBox()") reply


  .details(ng-if="isNotInStory")
    a(ng-click="setCollapse(true)", ng-if="!collapse") [-]&nbsp;&nbsp;
    a(ng-click="setCollapse(false)", ng-if="collapse") [+]&nbsp;&nbsp;
    a.author(fn-route="/user/{{ commentJSON.created_by_uname }}") {{ commentJSON.created_by_uname }}
    | &nbsp;&middot;&nbsp;
    span {{ commentJSON.created_at | prettydate }}
    | &nbsp;&middot;&nbsp;on:&nbsp;
    a(fn-route="/story/{{ commentJSON.meta.storySlug }}?comment={{ commentJSON.slug }}") {{ commentJSON.meta.storyTitle }}


  .content(ng-bind-html="markdown", ng-if="!collapse")

  //- Reply form
  form.replyBox.row(ng-if="data.showReplyBox", name="comment_form")
    .columns
      textarea.field.show-if-loggedin(ng-model="data.child_comment"
        ng-disabled="formLoading"
        maxlength=3000
        placeholder="reply to this comment"
        required)
      a.hide-if-loggedin(fn-route="/login")
        textarea.field.main-commentbox(
          placeholder="you need to be logged in to comment"
          disabled)

    .columns(ng-if="comment_form.$valid")
      google-recaptcha(ng-model="data.gcaptcha", ng-if="!data.gcaptcha")
      button(ng-click="submitComment()", ng-if="data.gcaptcha") Submit

  //- Report form
  form.reportBox.row(ng-if="data.showReportBox", name="report_form")
    .columns
      p Give us a reason for reporting this comment
      input.field.show-if-loggedin(ng-model="data.child_comment"
        ng-disabled="formLoading"
        type="radio"
        maxlength=3000
        placeholder="reply to this comment"
        required)
      a.hide-if-loggedin(fn-route="/login")
        textarea.field.main-commentbox(
          placeholder="you need to be logged in to comment"
          disabled)

    .columns(ng-if="report_form.$valid")
      google-recaptcha(ng-model="data.gcaptcha", ng-if="!data.gcaptcha")
      button(ng-click="submitReport()", ng-if="data.gcaptcha") Submit


  .children(ng-repeat="child in childComments.$models | orderBy : 'hotness' : true"
    ng-if="!collapse")
    news-comment(ng-model="child")