.row
  form(name="form", ng-class="formClasses")
    .columns
      h3 Login
    .columns
      label Username or Email
      input(type="text"
        maxlength="140"
        minlength="4"
        ng-disabled="formLoading"
        ng-model="login.username"
        size=30
        required="true")

    .columns
      label Password
      input(maxlength="140"
        minlength="4"
        ng-disabled="formLoading"
        ng-model="login.password"
        required="true"
        size=30
        type="password")


    .columns
      button.submit(ng-click="doLogin(login)", ng-if="form.$valid") Login
    .other-options.columns.
      If you don't have an account, then <a ng-click="goSignup()">signup!</a>