.meta(ng-class="{updating: articles.updating}", 
  ng-mouseover="hover = true"
  ng-mouseleave="hover = false")
  .title {{ title }}
  .info
    span(ng-if="!hover && !articles.updating") last updated 3 mins ago
    span(ng-click="articles.updating = true; updateArticles()" 
      ng-if="hover && !articles.updating") click here to update
    span(ng-if="articles.updating") updating...
    .timeout updating in 10s
    
.content(ng-class="{'show-less': !articles.more}")
  .articles(ng-class="{updating: articles.updating}")
    span(ng-repeat="article in articles.$models")
      news-feed-item(ng-model="article" 
        ng-init="feed=getFeed(article.feed)"
        feed="feed")

  .more(ng-click="expand()") Show more news