script
  :coffee-script
    md5 = window.publicData.md5
    u = window.publicData.staticUrl

    window.scripts = [
      {
        id: "libraries.css"
        remote: ["//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css"]
        local: "/build/md5/libraries_#{ md5['libraries.css'] }.css"
      }
      {
        id: "style.css"
        remote: ["#{u}/build/md5/style_#{ md5['style.css'] }.css"]
        local: "/build/md5/style_#{ md5['style.css'] }.css"
      }
      {
        id: "libraries.js"
        remote: [
          "//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"
          "//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"
          "//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"
          "//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"
          "//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"
          "//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"

          "//cdnjs.cloudflare.com/ajax/libs/angular-hotkeys/1.4.5/hotkeys.min.js"
          "//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.14/angular-ui-router.min.js"
          "//cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.1/angular-material.min.js"

          "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"          
          "//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"
        ]
        local: "/build/md5/libraries_#{ md5['libraries.js'] }.js"
      }
      {
        id: "templates.js"
        remote: ["#{u}/build/md5/templates_#{ md5['templates.js'] }.js"]
        local: "/build/md5/templates_#{ md5['templates.js'] }.js"
      }
      {
        id: "main.js"
        remote: ["#{u}/build/md5/main_#{ md5['main.js'] }.js"]
        local: "/build/md5/main_#{ md5['main.js'] }.js"
      }
      {
        id: "fonts.css"
        remote: [
          "//fonts.googleapis.com/css?family=Roboto:300,400,600,700,800"
        ]
      }
    ]